
<div id="wrapper">
  <div id="top_logo">
    <img src="/images/site_logo.gif"/>
  </div>

 

  <div id="login_area_bg">

    <%= render :partial => 'sessions/form' %>
    <div id="help_forgot_pw">
    

</div>
<div class="clearfooter"></div>
</div>

    <div id="footer">
      <div id="footer_logo">
            <div id="powered_by">
          Powered by <a href="http://kunalinfotech.net/" target="_blank">Kunalinfotech Pvt Ltd</a>
        </div>
          
          
      </div>
    </div>
    
    <script type="text/javascript">
  $("#login").focus();
</script>


