	<table width="730" align="center">
	<% for category in categories %>
		<div class="boxLeft">
			<div class="headingbox"><%= category.name %></div>
			<div class="boxcontent"><%= category.description %></div>
		</div>
	<% end %>
	</table>
	<div style="height:120px;">&nbsp;</div>